.blog-write-page {
    height: 100%;
    overflow: hidden;
}

.blog-write-page .page-header .title {
    padding-right: 1rem;
}

.blog-write-page .page-header .buttons i {
    margin-right: 1rem;
}

.input-wrap {
    width: 100%;
    height: 4rem;
    margin-bottom: 1px;
}

.input-wrap input {
    font-size: 1.25rem;
    border-bottom: 1px solid #ced4da;
    padding-left: 1rem;
}

.separator {
    border-left: 1px solid #ced4da;
}
.blog-write-page .page-content {
    display: flex;
    flex-direction: row;
    height: calc(100% - ( 9rem + 2px ));
}

.blog-preview {
    flex: 1 1;
    padding: 1rem 1rem 0 1rem;
    height: 100%;
    overflow-x: hidden;
    overflow-y: scroll;
}
.editor-wrap {
    flex: 1 1;
    height: 100%;
}

