@font-face{
  font-family: 'NanumGothic';
  src: url('../font/NanumGothic-Regular.ttf') format('truetype')
} 


html, body, #root, #app {
    height: 100%;
}

body {
    margin: 0;
    font-family: 'NanumGothic';
    user-select: none;
}

a:link {text-decoration: none; color: #024770;}
a:visited {text-decoration: none; color: #024770;}
a:active {text-decoration: none; color: #024770;}
a:hover {text-decoration: none; color: #024770;}


input {
  outline: none;
  border: none;
  font-size: inherit;
  font-weight: initial;
  width: 100%;
}

input::placeholder{
  color: lightslategray;
}

.page-conatiner {
  height: 100%;
}
.page-conatiner .menu-container {
  display: flex;
  height: 3.5rem;
  background-color: #024770;
  color:#fff;
  box-shadow: 0 4px 12px 0 rgba(0,0,0,.15);
}

.page-conatiner .menu-container .site-title{
  font-size: 2rem;
  font-weight: bold;
  line-height: 52px;
  padding-left: 2rem;
}
.page-conatiner .content-container {
  height: calc( 100% - 3.5rem);
}

.tag-page {
  display: flex;
  flex-direction: column;
  padding: 3rem 25rem;
  animation: loadanime 0.5s 1;
}
.tag-page .tag-list-wrap {
  margin-bottom: 3rem;
}

.tag-page  .tag-list-wrap .tag-search-bar {
  display: flex;
  align-items: center;
  position: relative;
  box-shadow: 0 4px 12px 0 rgba(0,0,0,.15);
  margin-bottom: 2rem;
}
.tag-page  .tag-list-wrap .tag-search-bar i{
  position: absolute;
  left: .75rem;
  color: #fff;
}
.tag-page  .tag-list-wrap .tag-search-bar input{
  background-color: #024770;
  border-style: solid;
  border-color: #024770;
  padding: .5rem 1rem .5rem 2rem;
  outline: none;
  color: #fff;
  font-size: 1rem;
  font-weight: bold;
  width: 100%;
  box-shadow: 0 4px 12px 0 rgba(0,0,0,.15);
}

.tag-page  .tag-list-wrap .tag-search-bar input::placeholder{
  color: #fff;
  font-weight: 400;
}

.tag-page .tag-list-wrap .tag-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  min-height: 48px;
}
.tag-page .tag-list-wrap .tag-list .tag-item {
  font-size: .85rem;
  background-color: #F4F1F3;
  padding: .75rem 1rem;
  box-shadow: 0 4px 12px 0 rgba(0,0,0,.15);
  margin: .25rem;
  border-radius: 0.5rem;
  color: #024770;
  font-weight: 900;
  cursor: pointer;
}
.tag-page .tag-list-wrap .tag-list .tag-item:hover {
  background-color: #FFFCFE;
}
.tag-page .tag-response-wrap .tag-response-title {
  display: flex;
  flex-direction: column;
  border-left: solid 5px #024770;
  padding-left: 1rem;
  margin-bottom: 3rem;
}
.tag-page .tag-response-wrap .tag-response-title .main {
  font-size: 1.5rem;
  font-weight: 600;
  margin-bottom: 1rem;
}
.tag-page .tag-response-wrap .tag-response-title .sub {
  padding-left: 4rem;
}
.tag-page .tag-response-wrap .tag-response-content .post-item-wrap {
  box-shadow: 0 4px 12px 0 rgba(0,0,0,.15);
  padding: 1rem 1rem 1rem .5rem;
  margin-bottom: 3rem;
  animation: loadanime 0.5s 1;
}



.tag-page .tag-response-wrap .tag-response-content .post-item {
  border-left: solid 5px #024770;
  padding-left: 1rem;
}
.tag-page .tag-response-wrap .tag-response-content .post-item span{
  font-size: 1.25rem;
  font-weight: 600;
}
.tag-page .tag-response-wrap .tag-response-content .post-item p{
  margin-top: 1rem;
  margin-bottom: 0;
}


/* detail*/

.post-page {
  display: flex;
  padding: 3rem;
  animation: loadanime 0.5s 1;
}

.left-wrap, .right-wrap {
  flex: 1;
}
.content-wrap {
  flex: 3;
}

.post-page .tag-title {
  display: flex;
  flex-direction: column;
  border-left: solid 5px #024770;
  padding-left: 1rem;
}
.post-page .tag-title .main {
  font-size: 1.5rem;
  font-weight: 600;
  margin-bottom: 1rem;
}
.post-page .tag-title .sub {
  padding-left: 4rem;
}


/* write */

.blog-write-page {
  display: flex;
  height: calc(100% - 3.5rem);
  animation: loadanime 0.5s 1;
}

.editor-wrap {
  display: flex;
  flex-direction: column;
  flex: 1;
  padding: 2rem 2rem 0 2rem;
  box-shadow: 0 4px 12px 0 rgba(0,0,0,.15);
}

.content-wrap .title-form,
.editor-wrap .title-form,
.blog-preview .title-form {
  border-left: solid 5px #024770;
  padding-left: 1rem;
  margin-bottom: 1rem;
}

.content-wrap .title-form .main-wrap,
.editor-wrap .title-form .main-wrap,
.blog-preview .title-form .main-wrap {
  font-size: 3rem;
}

.content-wrap .title-form .alis-wrap,
.editor-wrap .title-form .alis-wrap,
.blog-preview .title-form .alis-wrap {
  font-size: 1.5rem;
}

.editor-wrap .title-form .tag-wrap {
  display: flex;
}
.tag-wrap .tag-item {
  background-color: #F4F1F3;
  box-shadow: 0 4px 12px 0 rgba(0,0,0,.15);
  padding: 0.25rem 0.5rem;
  border-radius: 0.5rem;
  color: #024770;
  font-weight: 900;
  margin-right: .75rem;
}

.editor-wrap .contents-form, 
.editor-wrap .content-textarea {
  display: flex;
  flex-direction: column;
  flex:1;
}

.CodeMirror {
  flex: 1;
  font-size: 1.2rem;
  font-family: inherit!important;
  padding-bottom: 2rem;
}
.CodeMirror-lines {
  padding: 1rem 1rem 0 1rem!important;
} 

.editor-wrap .editor-buttons {
  display: flex;
  align-items: center;
  width: inherit;
  height: 3rem;
  padding-left: 1.5rem;
  border-bottom: 1px solid #ced4da;
}

.editor-wrap .editor-buttons i {
  cursor: pointer;
  color: #90A4AE;
  margin-right: 1rem;
}

.editor-wrap .editor-buttons i:hover {
  color: #274c5e;
}

.blog-preview {
  flex: 1;
  padding: 1rem 2rem 0 2rem;
  overflow-x: hidden;
  overflow-y: scroll;
}

.blog-preview .tag-title .main {
  font-size: 1.5rem;
  font-weight: 600;
  margin-bottom: 1rem;
}

.markdown-body {
  font-size: 1.2rem!important;
}

.content-wrap {
  padding: 0 5rem;
}
.content-wrap .content {
  margin-top: 3rem;
}


@keyframes loadanime {
  0% { transform: scale(1); opacity: 0; display:none;}
  100% { transform: scale(1); opacity: 1; }
}    