@import './blog.css';
@import './prod.css';
@import './player.css';
@font-face{
  font-family: 'NanumGothic';
  src: url('../font/NanumGothic-Regular.ttf') format('truetype')
} 


html, body, #root, #app {
    height: 100%;
}

body {
    margin: 0;
    font-family: 'NanumGothic';
}

.page-conatiner {
    display: flex;
    height: 100%;
}

.page-conatiner .menu-container {
   flex-basis: 20rem;
  background: #024770;
  box-shadow: 0 4px 12px 0 rgba(0, 0, 0, 0.05);
  display: flex;
  flex-direction: column;
}

.page-conatiner .content-container {
  flex-basis: calc(100% - 20rem);
}

/* 1. MENU */
.menu-container .site-title {
  text-align: center;
  padding: 2rem 0;
}

.menu-container .site-title span {
  font-size: 2rem;
  color: #fff;
  font-weight: bold;
  display: inline-block;
}


.menu-container .site-link-wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10rem;
}

.menu-container .site-link-wrap .site-link {
  color: #fff;
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 2rem;
}

.menu-container .site-link-wrap .site-link:last-child {
  margin-bottom: 0;
}

.menu-container .site-link-wrap .site-link i {
  margin-right: 1rem;
}

.menu-container .site-footer {
  margin-top: auto;
  padding: 5rem;
  text-align: center;
  color: #fff;
  display: flex;
  justify-content: space-around;
  font-size: 1.5rem;
}

/* 2. CONTENT */
.content-container {
  padding: 2.5rem
}

/* 3. TAG */

.tag-list-wrap .tag-item-wrap {
  background-color: #D3E2D7;
  width: 20rem;
  height: 4rem;
  border-radius: 0.7rem;
  color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: .75rem;
  cursor: pointer;
  margin-bottom: .75rem;
}
.tag-list-wrap .tag-item-wrap:hover {
  background-color: #024770;
  color: #fff;
}
.tag-list-wrap .tag-item-wrap .tag-content {
  display: flex;
  align-items: center;
  font-size: 1.5rem;
}
.tag-list-wrap .tag-item-wrap .tag-content i{
  margin-right: 1rem;
}
.tag-list-wrap .tag-item-wrap .tag-content .tag-info{
  margin-left: auto;
  margin-right: 1rem;
}

.tag-list-wrap .search-bar-wrap {
  display: flex;
  align-items: center;
  width: 30rem;
  margin-bottom: 2rem;
  position: relative;
  color: #fff;
}
.tag-list-wrap .search-bar-wrap i {
  position: absolute;
  left: 28rem;
}
.tag-list-wrap .search-bar-wrap input {
  background-color: #024770;
  border-style: solid;
  border-color: #024770;
  width: inherit;
  padding: .75rem;
  border-radius: .75rem;
  outline: none;
  color: #fff;
  font-size: 1rem;
  font-weight: bold;
}
.tag-list-wrap .search-bar-wrap input::placeholder {
  color: #fff;
}