@font-face{
  font-family: 'NanumGothic';
  src: url('../font/NanumGothic-Regular.ttf') format('truetype')
} 


html, body, #root, #app {
    height: 100%;
}

body {
    margin: 0;
    font-family: 'NanumGothic';
    user-select: none;
    background-color: rgb(248, 249, 250);
}

a:link {text-decoration: none; color: #024770;}
a:visited {text-decoration: none; color: #024770;}
a:active {text-decoration: none; color: #024770;}
a:hover {text-decoration: none; color: #024770;}


input {
  outline: none;
  border: none;
  font-size: inherit;
  font-weight: initial;
  width: inherit;
}

input::placeholder{
  color: lightslategray;
}

.page-conatiner {
  height: 100%;
}
.page-conatiner .menu-container {
  display: flex;
  height: 3.5rem;
  background-color: #024770;
  color:#fff;
  box-shadow: 0 4px 12px 0 rgba(0,0,0,.15);
}

.page-conatiner .menu-container .site-title{
  font-size: 2rem;
  font-weight: bold;
  line-height: 52px;
  padding-left: 2rem;
}
.page-conatiner .content-container {
  height: calc( 100% - 3.5rem);
}

/* detail*/

.post-page {
  display: flex;
  padding: 3rem;
  animation: loadanime 0.5s 1;
}

.left-wrap, .right-wrap {
  flex: 1;
}
.content-wrap {
  flex: 3;
}


/* write */

.blog-write-page {
  display: flex;
  height: calc(100% - 3.5rem);
  animation: loadanime 0.5s 1;
}

.editor-wrap {
  display: flex;
  flex-direction: column;
  flex: 1;
  padding: 2rem 2rem 0 2rem;
  box-shadow: 0 4px 12px 0 rgba(0,0,0,.15);
}

.content-wrap .title-form,
.editor-wrap .title-form,
.blog-preview .title-form {
  border-left: solid 5px #024770;
  padding-left: 1rem;
  margin-bottom: 1rem;
}

.content-wrap .title-form .main-wrap,
.editor-wrap .title-form .main-wrap,
.blog-preview .title-form .main-wrap {
  font-size: 3rem;
}

.content-wrap .title-form .alis-wrap,
.editor-wrap .title-form .alis-wrap,
.blog-preview .title-form .alis-wrap {
  font-size: 1.5rem;
}
.editor-wrap .title-form .alis-wrap {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.editor-wrap .contents-form, 
.editor-wrap .content-textarea {
  display: flex;
  flex-direction: column;
  flex:1;
}

.CodeMirror {
  flex: 1;
  font-size: 1.2rem;
  font-family: inherit!important;
  padding-bottom: 2rem;
}
.CodeMirror-lines {
  padding: 1rem 1rem 0 1rem!important;
} 

.editor-wrap .editor-buttons {
  display: flex;
  align-items: center;
  width: inherit;
  height: 3rem;
  padding-left: 1.5rem;
  border-bottom: 1px solid #ced4da;
}

.editor-wrap .editor-buttons i {
  cursor: pointer;
  color: #90A4AE;
  margin-right: 1rem;
}

.editor-wrap .editor-buttons i:hover {
  color: #274c5e;
}

.blog-preview {
  flex: 1;
  padding: 1rem 2rem 0 2rem;
  overflow-x: hidden;
  overflow-y: scroll;
}

.markdown-body {
  font-size: 1.2rem!important;
}

.content-wrap {
  padding: 0 5rem;
}
.content-wrap .content {
  margin-top: 3rem;
}


@keyframes loadanime {
  0% { transform: scale(1); opacity: 0; display:none;}
  100% { transform: scale(1); opacity: 1; }
}    